/*global*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: arial;
}

main{
    width: 80vh;
    margin: 0 auto;
}

p{
    line-height: 2;
}

img{
    max-width: 100%;
    margin-top: 30px;
}

button{
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    letter-spacing: 1px;
}

h1, h2, h3{
    padding: 15px;
}

h1{
    font-size: 50px;
    font-family: 'Trebuchet MS';
}

footer{
    background-color: black;
    color: white;
    padding-bottom: 50px;
    font-family: 'Trebuchet MS';
}

ul{
    width: auto;
}

li{
    display: inline-block;
    padding: 0px 10px;
}

a{
    text-decoration: none;
    color: white;
}

/*utilities*/
.read-more-button{
    background-color: black;
    color: white;
}

.more-info-button{
    background-color: #8f471f;
    color: white;
}

.blog-title{
    font-size: 40px;
    padding-top: 30px;
}

/*header*/
.site-init{
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 300px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*footer*/
.footer-title{
    text-align: center;
}

.footer-links{
    text-align: center;
}

footer h2{
    font-size: 35px;
}